einops==0.6.1
gdown==4.7.1
imgaug==0.4.0
lmdb==1.4.1
matplotlib==3.7.1
numpy==1.23.5
opencv_python==4.7.0.72
pandas==1.5.3
Pillow==9.5.0
prefetch_generator==1.0.3
pylsd==0.0.2
PyYAML==6.0
Requests==2.31.0
scipy==1.10.1
setuptools==67.8.0
six==1.16.0
scikit-image==0.21.0
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
webcolors==1.13
lsd==0.3.3
ocrd_fork_pylsd==0.0.3
vietocr==0.3.11
